<style>

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

</style>

<div class="toolbar" role="banner">
  <span style="margin: 10px auto;">Angular Learning - Angular 8, Redux @ngRx 8, RxJx, Angular Material - Zameer</span>
</div>

<div>
  <app-search></app-search>
  <app-search-results></app-search-results>
  <app-pagination></app-pagination>
</div>

<div class="toolbar" role="banner" style="clear: both">
</div>